:root {
	--tek: #09F477;
	--glow: #07C661;
	--boxglow: #058741;
	--bg: #1e241e;
}

@font-face {
	font-family: 'body'; /* Cutive Mono */
	src: url('/font/CutiveMono-Regular.ttf');
}
@font-face {
	font-family: 'logo';
	src: url('/font/CormorantGaramond-Bold.ttf'); /* Cormorant Garamond */
}
@font-face {
	font-family: 'mono';
	src: url('/font/apl385.ttf'); /* APL385 */
}

* {
	font-family: 'body';
	letter-spacing: -1px;
	text-shadow: 0px 0px 18px var(--glow);
	color: var(--tek);
}

html {
	scrollbar-width: none;
	background: var(--bg);
}

body {
	min-height: 80vh;
	width: 74vw;
	margin-right: 12%;
	margin-left: 12%;
	margin-top: 4%;
}

div {
	padding-left: 8px;
	padding-right: 8px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
	margin: 0;
	line-height: 100%;
}

code {
	font-family: 'mono';
}

a:hover {
	border-radius: 1.75px;
	box-shadow: 0px 0px 9px 0px var(--glow) inset, 0px 0px 9px 0px var(--glow);
	background-color: var(--tek);
	color: var(--bg);
}

a.box:hover {
	border-radius: 2.5px;
}

a {
	font-family: 'mono';
	text-decoration: none;
}

ul, li {
	margin: 2px;
	line-height: 110%;
	font-size: 1.3rem;
	list-style-type: "";
}

hr {
	margin-top: 16px;
	margin-bottom: 12px;
	border-top: 1.25px solid var(--tek);
	border-bottom: none;
	border-right: none;
	border-left: none;
	box-shadow: 0px 0px 9px 0px var(--glow) inset, 0px 0px 9px 0px var(--glow);
}

.flexxy {
	display: flex;
	gap: 24px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}

.box {
	border: 1.25px solid var(--tek);
	border-radius: 2.5px;
	box-shadow: 0px 0px 9px 0px var(--boxglow) inset, 0px 0px 9px 0px var(--boxglow);
}


/**** Sidebar ****/

.sidebar {
	padding-top: 8px;
	flex: 0 0 18%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}


/**** Logo ****/

.logo {
	font-size: 3.75vw;
	font-family: 'logo';
	letter-spacing: 0px;
	text-shadow: 0px 0px 18px var(--glow) inset;
}


/**** Tree ****/
ul.tree * {
	font-size: 1.2vw;
}

ul.tree {
	padding: 0;
	line-height: 100%;
}

ul.tree li, pre{
	margin: 0;
	padding: 0;
	line-height: 100%;
	list-style: none;
	white-space: break-spaces;
}


/**** Content ****/
.content {
	flex: 1 1 auto;
	padding: 24px;
}

div.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

h1.title {
	flex: 1 1 50%;
}

h4.subtitle {
	text-align: right;
	flex: 1 1 50%;
}

.main h2 {
	padding-block: 20px;
	padding-left: 20px;
}

.main p {
	font-size: 1.1rem;
	padding-block: 9px;
	padding-inline: 40px;
	text-indent: 24pt;
	line-height: 140%;
	margin: 0px;
}

/**** Gallery Section ****/
div.gallery {
	padding-inline: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 16px 16px;
}

.gentry {
	padding: 0px;
	margin: 0px;
}

.gentry figcaption {
	text-indent: 0px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.gentry:hover figcaption {
	color: var(--bg);
}


/**** Files Section ****/
/*
div.file * {
	font-family: 'code';
}
*/

.filebox {
	padding-inline: 40px;
	display: flex;
	flex-flow: column nowrap;
	gap: 8px 8px;
}

.file {
	padding: 8px;
	gap: 8px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.file.r {
	margin: 0px;
	padding: 0px;
	justify-content: right;
}

.file.l {
	margin: 0px;
	padding: 0px;
	justify-content: left;
}

.file h1 {
	font-size: 1.3rem;
}

.file:hover h1 {
	color: var(--bg);
}