:root {
	--tek: #09F477;
	--glow: #07C661;
	--boxglow: #058741;
	--bg: #1e241e;
}

@font-face {
	font-family: 'body'; /* Cutive Mono */
	src: url('/font/CutiveMono-Regular.ttf');
}
@font-face {
	font-family: 'logo';
	src: url('/font/libby.woff2'); /* Libertinus Serif Display */
}
/*
@font-face {
	font-family: 'code';
	src: url('/font/hermit/hermit-light.woff2');
}
*/

* {
	font-family: 'body';
	letter-spacing: -1px;
	text-shadow: 0px 0px 18px var(--glow);
	color: var(--tek);
}

html {
	scrollbar-width: none;
	background: var(--bg);
}

body {
	min-height: 80vh;
	width: 74vw;
	margin-right: 12%;
	margin-left: 12%;
	margin-top: 4%;
}

div {
	padding-left: 8px;
	padding-right: 8px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
	margin: 0;
	line-height: 100%;
}

a:hover {
	border-radius: 1.75px;
	box-shadow: 0px 0px 9px 0px var(--glow) inset, 0px 0px 9px 0px var(--glow);
	background-color: var(--tek);
	color: var(--bg);
}

a {
	text-decoration: none;
}

ul, li {
	margin: 2px;
	line-height: 110%;
	font-size: 13pt;
}

hr {
	margin-top: 16px;
	margin-bottom: 12px;
	border-top: 1.25px solid var(--tek);
	border-bottom: none;
	border-right: none;
	border-left: none;
	box-shadow: 0px 0px 9px 0px var(--glow) inset, 0px 0px 9px 0px var(--glow);
}

.flexxy {
	display: flex;
	gap: 24px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}

.box {
	border: 1.25px solid var(--tek);
	border-radius: 2.5px;
	box-shadow: 0px 0px 9px 0px var(--boxglow) inset, 0px 0px 9px 0px var(--boxglow);
}


/**** Sidebar ****/

.sidebar {
	flex: 1 0 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}


/**** Logo ****/
div.logo {
	padding-top: 8px;
}

div.logo a {
	font-family: 'logo';
	font-style: italic;
	letter-spacing: 0px;
	text-decoration: none;
	text-shadow: 0px 0px 18px var(--glow) inset;
	font-size: 44px;
	padding-right: 4px;
}


/**** Tree ****/
ul.tree * {
	letter-spacing: -1.5px;
}

ul.tree {
	padding: 0;
	line-height: 100%;
}
ul.tree li, pre{
	margin: 0;
	padding: 0;
	line-height: 100%;
	list-style: none;
	white-space: break-spaces;
}


/**** Content ****/

.content {
	flex: 1 1 auto;
	padding: 24px;
}

div.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

h1.title {
	flex: 1 1 50%;
}

h4.subtitle {
	flex: 1 1 50%;
}

div.main {
	padding-top: 20px;
	padding-inline: 40px;
}


/**** Files Section ****/
/*
div.file * {
	font-family: 'code';
}
*/

div.file {
	margin-block: 10px;
	padding: 8px;
	gap: 8px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

div.file.r {
	margin: 0px;
	padding: 0px;
	justify-content: right;
}

div.file.l {
	margin: 0px;
	padding: 0px;
	justify-content: left;
}

div.file h1 {
	font-size: 18px;
}

div.file h2 {
	font-size: 16px;
}

.dl {
	margin: auto;
	text-align: center;
	font-size: 36px;
	height: 50px;
	width: 50px;
}
