<!DOCTYPE html>
<html lang={{ .Site.LanguageCode }}>
<!-- head partial -->
{{ partial "head.html" . }}
<!-- end -->
    <body class="flexxy">
		<div class="sidebar box">
			<div class="logo">
				<a href="/">KMAK</a>
			</div>
<!-- tree partial -->
{{ partial "tree.html" . }}
<!-- end -->
		</div>
		<div class="content box">
<!-- header partial -->
{{ partial "header.html" . }}
<!-- end -->
			<hr />
<!-- content partial -->
{{ block "main" . }}{{ end }}
<!-- end -->

		</div>
    </body>
</html>
