<div class="tree">
	{{ $.Scratch.Set "idx" 1}}
	<ul class="tree"><a href="/">home</a>
	{{ range .Site.Sections }}
		<li class = "tree">
			{{ strings.Repeat (sub .Params.depth 1) "┃ " }}
			{{ if eq ($.Scratch.Get "idx") (len $.Site.Sections) }}
				└
			{{ else }}
				├
			{{ end }}
			<a href={{.Permalink}}> {{ lower .Title }}</a>	
		</li>
		{{if eq . $.Parent}}
		<li class = "tree">
			{{ strings.Repeat .Params.depth "│ " }}
			<a href={{$.Permalink}}>└ {{ lower $.Title }}</a>
		</li>
			{{ end }}
		{{ $.Scratch.Set "idx" (add 1 ($.Scratch.Get "idx"))}}
	{{ end }}
	</ul>
</div>