{{- /**** argparse ****/ -}}
{{- $tgt := index . 3 -}} {{- /* target page */ -}}
{{- $pt := index . 2 -}} {{- /* pipe type */ -}}
{{- $pfx := index . 1 -}} {{- /* prefix */ -}}
{{- $pg := index . 0 -}} {{- /* current page */ -}}
{{- $children := $pg.Pages.ByTitle -}}

{{- /**** 0 children (content page) ****/ -}}
{{- if eq (len $children) 0 -}}
	<pre>{{- delimit $pfx "&emsp;" }}└ <a href={{- $pg.Permalink -}}>{{ (index (last 2 (split $pg.RelPermalink "/")) 0) -}}</a></pre>

{{- else -}}

	{{- if gt $pg.Params.depth 0 -}}
		<pre>{{- delimit $pfx "&emsp;" }}{{ $pt }} <a href={{- $pg.Permalink -}}>{{ (index (last 2 (split $pg.RelPermalink "/")) 0) -}}</a></pre>
		{{- if eq $pt "└" -}}
			{{- $pfx = $pfx | append "  " -}}
		{{- else -}}
			{{- $pfx = $pfx | append $pfx "│ " -}}
		{{- end -}}
	{{- else -}}
		<a href={{- $pg.Permalink -}}>home</a>
	{{- end -}}

	{{- /**** first N-1 children ****/ -}}
	{{- if gt (len $children) 1 -}}
		{{- range first (sub (len $children) 1) $children -}}
			{{- $args := slice . $pfx "├" $tgt -}}
			{{- $nxt := ( partial "treecursive.html" $args ) -}}
			<li>{{- $nxt -}}</li>
		{{- end -}}
	{{- end -}}

	{{- /**** Nth child ****/ -}}
	{{- $lst := last 1 $children -}}
	{{- $lst := index $children (sub (len $children) 1) -}}
	{{- $args := slice $lst $pfx "└" $tgt -}}
	{{- $nxt := ( partial "treecursive.html" $args ) -}}
	<li>{{- $nxt -}}</li>
{{- end -}}

	


